/* Universal */
h1, h2, h4, p, a{
    font-family: 'Sora', sans-serif;
}

h1, i {
    color: #C3073F; 
    font-weight: bold;
}

h3 {
    color: #C3073F;
    font-style: italic;
    text-decoration: underline;
}

h5 {
    color: white;
    text-decoration: underline;
}

p {
    color: white;
}

body {
    background-color: #1A1A1D;
}

ul {
    color: white;
}

/* Nav */
nav {
    background-color: #4E4E50;
}

a {
    text-decoration: none !important;
}

.navbar-brand {
    font-family: 'Tangerine', cursive;
}
/* Header */
header {
    padding: 200px 0 210px;
}

#headerTitle {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 5px;
    font-family: 'Tangerine', cursive;
}

.social {
    text-align: center;
    height: auto;
    width: auto;
    background: rgba(12, 0, 0, 0.808);
    border-radius: 100%;
    line-height: 2rem;
    color: rgba(2, 0, 0, 0.3);
  }

/* Header */
.header-img {
    background: url(/images/shop.jpg) no-repeat 50%;
    background-size: cover;
    /* position: relative; */
    /* background-position: 100% 65%; */
}

section {
    padding: 100px 0;
    background-color: #1A1A1D;
}

/* Featured Service */

section h1 {
    color: #C3073F;
    font-weight: bold;
}

section p a {
    text-decoration: none;
}

/* Footer */

.site-footer {
    background-color: #4E4E50;
    padding: 20px 0; 
}

a {
    text-decoration: none;
}

hr {
    color: black;
    background-color: black;
    height: 2px;
    border-width: 0;
}

footer p a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Gallery */
#homeCarousel {
    border: 1px solid black;
    background-color: white;
    box-shadow: 0px 0px 0px 5px white;
}

/* Contact */




/* For Map Use */
/* .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
} */