/* Universal */
h1, h2, p {
    font-family: 'Sora', sans-serif;
}


/* HOME PAGE */

/* Header */
header {
    padding: 200px 0 210px;
}

#headerTitle {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 5px;
    font-family: 'Tangerine', cursive;
}

.navbar-brand {
    font-family: 'Tangerine', cursive;
}

/* Footer */
.site-footer {
    background-image: linear-gradient(#050129, rgb(3, 3, 3));
    padding: 20px 0; 
}

a {
    text-decoration: none;
}

.header-img {
    background: url(/images/shop.jpg) no-repeat 50%;
    background-size: cover;
    /* position: relative; */
    /* background-position: 100% 65%; */
}

section {
    padding: 100px 0;
}

/* Featured Service */

section h1 {
    color: #1accf8;
}

section p a {
    text-decoration: none;
}

/* Footer */
hr {
    color: black;
    background-color: black;
    height: 2px;
    border-width: 0;
}

footer p a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Gallery */
#homeCarousel {
    border: 1px solid black;
    background-color: white;
    box-shadow: 0px 0px 0px 5px white;
}

/* Contact */

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}